<form #searchForm="ngForm" (ngSubmit)="onSubmit()">
  <li *ngFor="let error of errors.form" class="text-negative">
    {{error}}
  </li>
  <table>
      <tr>
        <td>
          <mat-form-field>
            <input matInput placeholder="ID" [(ngModel)]="model.cdave" name="cdave">
          </mat-form-field>
          <li *ngFor="let error of errors.cdave" class="text-negative">
            {{error}}
          </li>
        </td>
        <td>
          <mat-form-field>
            <input matInput placeholder="Nombre Común" [(ngModel)]="model.dsnombrecomun" name="dsnombrecomun">
          </mat-form-field>
          <li *ngFor="let error of errors.dsnombrecomun" class="text-negative">
            {{error}}
          </li>
        </td>
        <td>
          <mat-form-field>
            <input matInput placeholder="Nombre Científico" [(ngModel)]="model.dsnombrecientifico" name="dsnombrecientifico">
          </mat-form-field>
          <li *ngFor="let error of errors.dsnombrecientifico" class="text-negative">
            {{error}}
          </li>
        </td>
        <td>
          <button mat-raised-button [color]="id !== null ? 'accent' : 'primary'">
            <mat-icon>save</mat-icon> Guardar
          </button>
        </td>
      </tr>
    </table>
</form>

<button mat-raised-button [routerLink]="['']">
  <mat-icon>arrow_back</mat-icon>
</button>