<button mat-flat-button [routerLink]="['create']" color="primary">
  <mat-icon>add_circle</mat-icon> Crear
</button>
<br/>
<br/>
<br/>
<form #searchForm="ngForm" (ngSubmit)="onSubmit()">
  <span>Filtros para la búsqueda</span>
  <table>
    <tr>
      <td>
        <mat-form-field>
          <input matInput placeholder="Ave" [(ngModel)]="model.name" name="name">
          <button mat-button *ngIf="model.name" matSuffix mat-icon-button aria-label="Clear" (click)="model.name=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-select placeholder="Zona" [(ngModel)]="model.zone" name="zone">
            <mat-option *ngFor="let zona of zoneList" [value]="zona.cdzona">
              {{zona.dsnombre}}
            </mat-option>
          </mat-select>
          <button mat-button *ngIf="model.zone" matSuffix mat-icon-button aria-label="Clear" (click)="model.zone=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </td>
      <td>
        <button mat-raised-button [disabled]="!model.name || !model.zone">
          <mat-icon>search</mat-icon> Buscar
        </button>
      </td>
    </tr>
  </table>
</form>
<br/>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-ias">
  <ng-container matColumnDef="cdave">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.cdave}} </td>
  </ng-container>
  <ng-container matColumnDef="dsnombrecomun">
    <th mat-header-cell *matHeaderCellDef> Nombre Común </th>
    <td mat-cell *matCellDef="let element"> {{element.dsnombrecomun}} </td>
  </ng-container>
  <ng-container matColumnDef="dsnombrecientifico">
    <th mat-header-cell *matHeaderCellDef> Nombre Científico </th>
    <td mat-cell *matCellDef="let element"> {{element.dsnombrecientifico}} </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button [routerLink]="['details/' + element.cdave]"><mat-icon>visibility</mat-icon></button>
      <button mat-raised-button color="primary" [routerLink]="['edit/' + element.cdave]"><mat-icon>edit</mat-icon></button>
      <button mat-raised-button color="warn" (click)="openDialog(element.cdave)"><mat-icon>delete</mat-icon></button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>