<table>
  <tr>
    <th>ID</th>
    <td>{{model.cdave}}</td>
  </tr>
  <tr>
    <th>Nombre Común</th>
    <td>{{model.dsnombrecomun}}</td>
  </tr>
  <tr>
    <th>Nombre Científico</th>
    <td>{{model.dsnombrecientifico}}</td>
  </tr>
</table>


<button mat-raised-button [routerLink]="['']">
  <mat-icon>arrow_back</mat-icon>
</button>